<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About TubeArchive</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mui/material@5.11.4/dist/material.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
        <div class="navbar">
        <a href="/" class="left">
              <img src="../static/images/icons8-flower-50.png" style="height: 20px; padding-right: 10px; color: white">
            TubeArchive
        </a>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="#">Contact</a>
        </div>
    </div>
    <div class="content">
        <h1>About TubeArchive</h1>
        <p>TubeArchive is a tool designed to help you download and archive valuable YouTube resources.</p>
    </div>
</body>
</html>
